{{ 'section-main-page.css' | asset_url | stylesheet_tag }}
{%- render 'top-divider', show_top_divider: section.settings.show_top_divider, divider_top_width: section.settings.divider_top_width -%}
<div class="section-padding section-bg" {% render 'section-attributes' %}>
  <div class="{{ section.settings.section_width }}">
    {%- if section.settings.show_default_heading -%}
    <h1 class="main-page-title page-title h1 text-center{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {{ page.title | escape }}
    </h1>
    {%- endif -%}
    <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      {{ page.content }}
    </div>
  </div>
</div>
{%- render 'bottom-divider', show_bottom_divider: section.settings.show_bottom_divider, divider_bottom_width: section.settings.divider_bottom_width -%}
{% schema %}
{
  "name": "Page",
  "tag": "section",
  "class": "section",
  "settings": [
    {
        "type": "select",
        "id": "section_width",
        "label": "Width",
        "options": [
          {
              "value": "container-narrow",
              "label": "Narrow"
          },
          {
              "value": "container",
              "label": "Boxed"
          }
        ],
        "default": "container-narrow"
    },
    
    {
      "type": "checkbox",
      "id": "show_default_heading",
      "label": "Show the default page heading",
      "default": true,
      "info": "If hidden, you should provide a primary page heading (h1 tag) in another section with h1 capability (e.g. image with overlay text, or background video) for SEO purposes."
    },
    {
        "type": "header",
        "content": "Colors"
    },
    {
        "type": "color",
        "id": "bg_color",
        "label": "Background"
    },
    {
        "type": "color",
        "id": "text_color",
        "label": "Text"
    },
    {
        "type": "color",
        "id": "border_color",
        "label": "Border"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 60
    },
    {
      "type": "header",
      "content": "Section divider"
    },
    {
      "type": "checkbox",
      "id": "show_top_divider",
      "label": "Show top divider",
      "default": false
    },
    {
      "type": "select",
      "id": "divider_top_width",
      "label": "Divider top width",
      "options": [
        {
          "value": "container",
          "label": "Boxed"
        },
        {
          "value": "container-fluid",
          "label": "Wide"
        },
        {
          "value": "w-full",
          "label": "Full"
        }
      ],
      "default": "container"
    },
    {
      "type": "checkbox",
      "id": "show_bottom_divider",
      "label": "Show bottom divider",
      "default": false
    },
    {
      "type": "select",
      "id": "divider_bottom_width",
      "label": "Divider bottom width",
      "options": [
        {
          "value": "container",
          "label": "Boxed"
        },
        {
          "value": "container-fluid",
          "label": "Wide"
        },
        {
          "value": "w-full",
          "label": "Full"
        }
      ],
      "default": "container"
    }
  ]
}
{% endschema %}
