
 .testimonials-slider .splide__slide.is-active{
   opacity:1;
 }
 .testimonials-slider .splide__pagination{
   position: static;
 }
 .testimonials-slider .splide__arrows{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 0;
  column-gap: 1rem;
 }
 .testimonials-slider .splide__arrow{
    position: static;
    transform: none;
    box-shadow: none;
 }
 .testimonials__item{
   height: 100%;
 }
 .testimonials__item--border{
    border:1px solid rgb(var(--color-border));
    padding: 2rem;
    border-radius: var(--media-radius);
 }